*{
  margin: 0;
  padding: 0;
 box-sizing: border-box;
}
.nav-item{
    font-weight: 400;

}

.bttn{
  font-size: 20px;
  margin-right:15px;
    background-color: #DBFC53;
    color: black;
    border:none;

}
.bttn:hover{
  color:white;
  background-color: black;
}
.controls-top{
  font-size: 30px;
  text-align: right;
  letter-spacing: 10px;
  margin-bottom: 10px;
}
.navbar{
  font-size: 25px;
  padding:4px;
  padding:0% 5% 1%;
}
.navbar-toggler{
  font-size: 50px;
}

body{
 font-family: 'Nunito', sans-serif;
}
@media only screen and (max-width: 600px) {
  #contact-container{

    font-size: 50px;
  }

}
@media only screen and (min-width: 992px) {
#below-home{
  text-align: left;
  align-items: flex-start;
}

.heading{
  font-size: 5px;
}
.category-image{
  width:8%;
}
#customer-container{
  font-size: 20px;
}
.graph-img{
  width:50px;
}
.below-part-3{
  left:10%;
  text-align: left;
  margin-top:10%;
}
.below-part2{
line-height: 2;
  text-align: left;
}
.para-below{
  font-size: 20px;
}
.below-part{
  font-size: 50px;
}
.nav-item{
padding-left: 10px;
padding-top: 10px;
  margin-left:80px;
  text-align: center;
  align-items: center;
}
.below-title{
  font-size: 60px;
  font-weight: 500;
}
.button-top{
  padding:10px;
  text-align: left;
  justify-content: flex-start;
}
.button-home{
right:10%;
font-size: 20px;
text-align: left;
padding-right:10px;
}
.home-h1{
  font-size: 75px;
  font-weight: bolder;
  text-align: left;
}
.home-title{
  padding:10%;
  right:10%;
  line-height: 2;
}
.home-image{
  right:10%;
}
.home-para{
  text-align: left;
  font-size: 0px;
}
}
#home{
  background-color: #F5F5F3;
  padding:4% 7% 15%;
}

.home-image{
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-content: center;
  align-items: center;
}
.home-title{
  padding:10%;
text-align: center;
}
.button-home-2{
border:1px solid black;
text-align: left;
}
.home-para{
  font-size: 50px;
}
.button-home{
  background-color: black;
  color:white;
}
#home-below{
  text-align: center;
  align-items: center;
  background-color: #F5F5F3;
  padding: 3% 15%;
}
.img-below{
  margin:20px;

}
.img-below-2{
  width:100%;
  height: 100%;
}
.person-img{
  width:100%;
  height: 100%;
}
#below-home{
  padding:4% 7% 15%;
  text-align: center;
}

#below-the-below{
  padding:4% 7% 15%;
}
#below-the-below{
font-size: 50px;;
text-align: center;

}
#below-home{
  font-size: 50px;;

}

#home-home{
  font-style: 5rem;
}
#home-below{
  font-size: 50px;;
}
.below-part{
  font-size: 70px;
  line-height: 1.5;
}
.graph-img{
  width:100%;
  height: 100%;
}

.home-h1{
  font-size: 70px;
  line-height: 1.5;
}
.graph-i{
  width: 80%;
}
#customer-container{
  text-align: center;
padding:4% 7% 15%;
font-size: 50px;
}
.box{
  background-color:  #F5F5F3;
  border-radius: 50px;
}
.slide-img{
  color:black;


margin-bottom: 10%;;
}
.slide-img-h{

  margin-bottom: 10%;;
  color: black;
}
.mico{
  color:black;
  font-size:50px;
  line-height: 2;
}
.slide-image{
  border-radius: 100px;
  margin-bottom: 20%;
  width:10%;

}
h5{
    font-size: 30px;
}
#category-box{
  padding:4% 10% 15%;
  text-align: center;
  line-height: 2;
}
.category-image{
  width: 80%;
  height:100%;
}
.category-h{
  font-size: 50px;
  line-height: 2;
}
.box-box{
  background-color: #DBFC53;
  height:70%;
  border-radius: 50px;
}
.box{
  height:70%;
  border-radius: 50px;
    background-color:  #F5F5F3;
}
#transaction-coloum{
  text-align: center;
padding:4% 7% 15%;
font-size: 50px;
}
#billion-users{
  text-align: center;
  padding:4% 7% 15%;
  font-size: 50px;
}
.button-billion{
background-color: black;

color:white;

line-height: 2;
}
#resource{
  text-align: center;
  padding:3% 7% ;
}
#above-footer{
  padding:4% 0% 15%;
  text-align: center;
    background-color:  #F5F5F3;
    line-height: 2;
    font-size: 50px;
}
#contact-container{
padding:4% 7%;
  text-decoration: none;
  color:black;

}
.row{
  display: flex;
  flex-wrap: wrap;
    text-decoration: none;
}
.footer-bottom{
  background-color: white;
padding:70px 0;

}
.footer-col{
  width:25%;
  padding:0 25px;
  line-height: 2;
    text-decoration: none;


}
.bottom{
  text-align: center;
}
li{
  text-decoration: none;
  color:black;
}
a{
    color:black;
}
a:hover{
  text-decoration: none;
  color:grey;
}
.heading-below{
  text-align: center;
}
